body {
    background: white;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;    
}
.containers {
    max-width: 100px;
    margin: auto;
}
.centres {
    display: flex;
    justify-content: center;
}
.centres li {
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
    list-style: none
}
.avatar {
    width: 150px;
    border-radius: 50%;
}
.centre-logo {
    width: 250px;
    height: 250px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 40px
   
}
.popular-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
h2 {
    margin: 20px;
    text-align: center;
}
.popular-rank {
    font-size: 20px;
    margin: 10px;
}
.boxmodel {
    width: 50%;
    border: 2px solid black; 
    margin: auto;
    background-color: rgb(221, 245, 255);
    text-align: center; 
}
.div-style-1 {
    background-color: rgb(229, 246, 252);
    border-top-style: ridge;
    border-bottom-style: ridge;
    border-width: 4px;
    padding-top: 20px;
    padding-bottom: 20px
}
.div-style-2 {
    padding-bottom: '50px'
}

@media (max-width: 768px) {
    #mobile {
        width: 80%;
    }
  }

#map {
    height: 400px;
    width: 450px;
    margin: 0 auto 0 auto;
    margin-top: 20px;
    position: relative;    
}
/* Stronghold */
.whiteCircuit {   
    font-weight: bold;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.blackCircuit {   
    color: black;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.greenCircuit {   
    color: green;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.purpleCircuit {   
    color: purple;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.compCircuit {   
    font-weight: bold;
    color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.openingTimes {
    margin: auto;
    font-style: italic;
    list-style: none;
    padding-inline-end: 25px        
}

.address {
    margin: auto;
    font-style: italic; 
}
.nav {
    display: flex;
    background-color: beige;
    border-style: outset;
    border-color: beige
}
.nav li {
    padding: 10px;
    list-style: none;
}
.active {
    font-weight: bold
}
a {
    color: rgb(10, 10, 141);
    text-decoration: none
}
.Big-Calendar {
    height: 750px;
    margin: auto;
    width: 75%
}
.div-key {
    margin: auto;
    width: 50%;
    text-align: center
}
.key {
    
    width: 20px;
    height: 20px;
    margin-top: 15px;
    border: 1px solid rgba(0, 0, 0, .2);
    vertical-align: sub;
    display: inline-block;
  }
  .castle-key {
    background: rgb(51, 159, 179);
  }
  
  .stronghold-key {
    background: rgb(89, 156, 92);
  }
  
 
