body {
    background: white;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;    
}
.containers {
    max-width: 100px;
    margin: auto;
    
}
.centres {
    display: flex;
    justify-content: center;
}

.centres li {
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
    list-style: none
}

.avatar {
    width: 150px;
    border-radius: 50%;
}
.centre-logo {
    width: 250px;
    height: 250px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 40px
   
}
.popular-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.popular-item {
    margin: 20px;
    text-align: center;
}

.popular-rank {
    font-size: 20px;
    margin: 10px;
}
.boxmodel {
    width: 45%;
    border: 2px solid black;
    padding: 10px;
    margin: auto;
    background-color: beige;
    text-align: center;
}

/* Stronghold */
.whiteCircuit {   
    font-weight: bold;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.blackCircuit {   
    color: black;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.greenCircuit {   
    color: green;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.purpleCircuit {   
    color: purple;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.compCircuit {   
    font-weight: bold;
    color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.openingTimes {
    margin: auto;
    font-style: italic;
    list-style: none        
}

